table {
    border-collapse: collapse;
    width: 100%;
  }

  /* Style table headers */
  th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: centre;
  }

  /* Style table rows */
  td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center; /* Center align table data */
  }
#black {
	background-color:black;
	color: white;
}